.tableFieldBlock {
  display: flex;
  padding: 14px 18px;
  border-top-left-radius: 5px;
  color: #4B4B4B;
  align-items: center;
  gap: 10px;
  font-weight: 500;
}

.fieldsSeparator {
  width: 2px;
  height: 18px;
  border-radius: 100px;
  background: #ececec;
}

.sortIcon {
  width: 13px;
  height: 22px;
  background: url("images/sort.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: center;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.tableRow {
  display: flex;
  justify-content: space-around;
  background: #fdfdfd;
  align-items: center;
}

.link {
  text-decoration-color: #ababab;
  text-decoration-style: dotted;
  color: #3d3d3d;

  &:hover {
    color: #676767;
  }

  &:active {
    color: #838383;
  }
}

.tableRow:hover {
  background: #f8f8f8;
}

.tableRow:last-of-type {
  border-radius: 0 0 8px 8px;
}

.tableRow .tableFieldBlock {
  font-weight: normal;
}

.tableFirstRow {
  display: flex;
  justify-content: space-around;
  background: #fafafa;
  border-radius: 8px 8px 0 0;
  user-select: none;
  align-items: center;
}

.rating {
  font-weight: 500;
}

.rating.red {
  color: #BE0000;
}

.rating.green {
  color: #00BE08
}

.rating.yellow {
  color: #BE8900;
}

