.container {
  margin: 0 auto;
  padding: 0 48px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0 30px 0;

  h1 {
    display: flex;
    gap: 16px;
    font-size: 1.3em;
    font-weight: 600;
  }

  h1 &Action {
    all: unset;
    height: 24px;
  }
}
