.container {
  display: flex;
  height: var(--content-height);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 0;
  padding: 18px 46px;
  width: 60%;
  overflow-y: auto;

  h1 {
    margin: 0;
  }
}

.links {
  margin: 30px 0;
  display: flex;
  gap: 30px;

  a {
    text-decoration-style: dotted;
    text-decoration-color: #8a8a8a;
    color: #3d3d3d;

    &:hover {
      color: #7c7c7c;
    }

    &:active {
      color: #838383;
    }
  }
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0 30px 0;

  h1 {
    display: flex;
    gap: 16px;
    font-size: 1.3em;
    font-weight: 600;
  }

  h1 &Action {
    all: unset;
    height: 24px;
  }
}


.classCodeContainer {
  color: #7b7b7b;
  margin-left: 34px;
  display: flex;
  align-items: center;
  gap: 8px;
  height: 10px;
}


.classCodeBlock {
  cursor: pointer;
  display: flex;
}

.classCodeBlockDigit {
  border-right: 1px solid #E2E2E2;
  border-top: 1px solid #E2E2E2;
  border-bottom: 1px solid #E2E2E2;
  padding: 3px 7px;
  font-size: 1.6em;
  font-family: var(--font-inter);
  font-weight: 200;
  min-width: 16px;
  text-align: center;
  user-select: none;
  color: black;

  &:first-of-type {
    border-left: 1px solid #E2E2E2;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  &:last-of-type {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}


.formField {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 10px 0;
  gap: 32px;

  input {
    width: 650px;
  }
}

.formItemInput {
  background: rgb(240 240 240 / 42%);
  border: none;
  border-bottom: 1px solid #ccdbe4;
  box-sizing: border-box;
  height: 30px;
  width: 100%;
  outline: none;
  font-family: var(--font-inter);
  padding-left: 12px;
}

.contentBlockDataTitle {
  color: #7b7b7b;
  margin-left: 34px;
  display: flex;
  align-items: center;
  gap: 15px;
  height: 10px;
}

.ratingsWrapper {
  border: 1px solid #ececec;
  border-radius: 10px 10px 5px 5px;

  .ratingsContent {
    display: flex;
    justify-content: space-between;
    border-radius: 10px 10px 0 0;
  }

  .ratingsHeader, .studentsHeader {
    background: #f8f8f8;
    padding: 12px 18px;
    height: 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ececec;
  }

  .ratingsHeader {
    display: flex;
    gap: 10px;
    border-radius: 0 10px 0 0;
    width: max-content;
  }

  .studentsHeader {
    border-radius: 10px 0 0 0;
    justify-content: space-between;
  }
}

.students {
  width: 30%;
  border-right: 1px solid #e8e8e8;
  margin-bottom: 3px;
}

.ratings {
  width: 70%;
  margin-bottom: 3px;
  overflow-x: auto;
  opacity: .7;
}

.studentsList {
  display: flex;
  flex-direction: column;
  gap: 5px;
  z-index: 20;
  box-shadow: 18px 0px 10px -10px #f1f1f1;
  position: relative;


  .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 18px;
    border-radius: 10px 0 0 10px;
    background: white;
    font-size: .9em;

    &:hover, &:nth-child(even):hover {
      background: #fafafa;
    }

    &:first-of-type {
      border-radius: 0 0 0 10px;
    }

    &:nth-child(even) {
      background: #fdfdfd;
    }


  }
}

.ratingsList {
  display: flex;
  flex-direction: column;
  background: #fcfcfc;
  gap: 5px;
  z-index: -1;
  width: max-content;

  .row {
    display: flex;
    gap: 10px;
    padding: 12px 18px;
    font-size: .9em;

    .item {
      a {
        color: black;

        &:hover {
          color: blue;
        }

        &:active {
          opacity: .4;
        }
      }

      width: 120px;
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        color: blue;
      }
    }

    &:hover {
      opacity: .7;
    }
  }
}

.taskField {
  width: 120px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  font-size: .8em;
  flex-shrink: 0;
}

.fieldsSeparator {
  width: 2px;
  height: 18px;
  border-radius: 100px;
  background: #ececec;
  flex-shrink: 0;
}

.subtitle {
  font-weight: 300;
  font-size: 1.3em;
}

.tasksWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 12px;

  a:first-of-type .taskWrapper {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-top: 1px solid #ececec;
  }

  a:last-of-type .taskWrapper {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .taskWrapper {
    display: flex;
    cursor: pointer;
    align-items: center;
    flex-flow: row wrap;
    background: #ffffff;
    padding: 15px 22px;
    gap: 15px;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    border-bottom: 1px solid #ececec;


    .number {
      font-size: 1.2em;
      font-weight: 400;
    }

    .info {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .taskTitle {
        font-size: 1.2em;
      }
    }

    .status {
      display: flex;
      height: 30px;
      align-items: center;
      margin-left: auto;

      &.green svg {
        fill: green;
      }

      &.red svg {
        fill: red;
      }

      &.grey svg {
        fill: grey;
      }

    }
  }
}

.topicInfo {
  margin-top: 12px;

  h1 {
    font-weight: 500;
  }
}

.materialCard {
  color: black;
  text-decoration: none;
  div {
    background: #FAFAFA;
    border: 1px solid #E7E7E7;
    border-radius: 5px;
    padding: 13px 18px;
  }
}

.topicContent {
  display: flex;
  gap: 70px;

  .tasks {
    width: 60%;
  }

  .materials {
    width: 35%;

    &List {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }
}

.blockTitle {
  font-size: 1.7em;
  font-weight: 500;
}

.link {
  text-decoration: none;
  color: black;

  &Disabled .taskWrapper{
    background: #e6e6e6;
    cursor: not-allowed;
  }
}
