.contentBlock {
  font-family: var(--font-inter);
}

.blockTitleMed {
  font-size: 1.3em;
  font-weight: 600;
  display: flex;
  gap: 16px;
}

.titleBlock {
  display: flex;
  align-items: center;
  margin: 20px 0 30px 0;

  &.between {
    justify-content: space-between;
  }
}

.contentBlockDataTitle {
  color: #7b7b7b;
  margin-left: 34px;
  display: flex;
  align-items: center;
  gap: 8px;
  height: 10px;
}

.editButton {
  opacity: 0.8;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.5;
  }
}

