.logo {
  width: 160px;
  height: 20px;
  padding: 10px;
  background-image: url("images/logo.svg");
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
}

.menuBlockWrapper {
  display: flex;
  gap: 100px;
}

.wrapper {
  background: #FCFCFC;
  border-bottom: 1px solid #F9F9F9;
}

.headerBlock {
  padding: 15px 50px;
  background: #FCFCFC;
  border-bottom: 1px solid #F9F9F9;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userBlockWrapper {
  width: 250px;
  font-family: var(--font-inter);
  text-decoration: grey !important;
}

.greyLink {
  font-family: var(--font-inter);
  color: #515151;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    color: #515151;
    opacity: 0.8;
  }

  &:active {
    color: #515151;
    opacity: 0.7;
  }
}

.lkLink {
  font-family: var(--font-inter);
  cursor: pointer;
  text-decoration: none;
  color: black;

  &:hover {
    color: #515151;
    opacity: 0.8;
  }

  &:active {
    color: #515151;
    opacity: 0.7;
  }
}

.logoutLink {
  color: #515151;
  font-size: 0.9em;
}
